@using Blog.MVC.ViewModels
@model BlogPostViewModel

<h1 class="text-center">@Model.Post.Title</h1>
<hr />

<div>
    <h1>@Model.Post.Description</h1>
    <h1>@Model.Post.Author</h1>
    <h1>@Model.Post.Views</h1>
    <h1>@Model.Post.Content</h1>
    <h1>@Model.Post.CreatedDate</h1>
    <h1>@Model.Post.AuthorUrl</h1>
</div>

<style>
 
</style>